BIUBIN_BIND_HOST=127.0.0.1
BIUBIN_ADVERTISE_HOST=127.0.0.1
BIUBIN_HTTP_PORT=8080
BIUBIN_GRPC_H2C_PORT=9000
BIUBIN_GRPC_TLS_PORT=9001
BIUBIN_GRPC_TLS_ENABLED=false
BIUBIN_GRPC_TLS_MODE=tls
BIUBIN_GRAPHQL_INTROSPECTION_ENABLED=true
BIUBIN_TLS_CERT_PATH=certs/dev/server.pem
BIUBIN_TLS_KEY_PATH=certs/dev/server-key.pem
BIUBIN_TLS_CLIENT_CA_PATH=certs/dev/ca.pem
BIUBIN_HTTP_ALLOW_EXTERNAL_REDIRECTS=false
BIUBIN_TCP_PORT=7000
BIUBIN_UDP_PORT=7001
BIUBIN_MQTT_TCP_PORT=1883
BIUBIN_MQTT_AUTH_TCP_PORT=1884
BIUBIN_MQTT_V5_PORT=1885
BIUBIN_MQTT_TLS_PORT=8883
BIUBIN_MQTT_TLS_BACKEND_PORT=1886
BIUBIN_MQTT_WS_PORT=8083
BIUBIN_MQTT_ENABLED=false
BIUBIN_MQTT_TLS_ENABLED=false
BIUBIN_MQTT_TLS_MODE=tls
BIUBIN_MQTT_USERNAME=biubin
BIUBIN_MQTT_PASSWORD=biubin-dev
BIUBIN_THRIFT_PORT=9090
BIUBIN_HTTP_BODY_LIMIT=2097152
BIUBIN_MAX_BYTES_RESPONSE=10485760
BIUBIN_EVENT_CAPACITY=200
BIUBIN_TCP_DELAY_MS=0
BIUBIN_TCP_CLOSE_AFTER=0
BIUBIN_TCP_READ_LIMIT=4194304
BIUBIN_UDP_DELAY_MS=0
BIUBIN_UDP_DROP_PERCENT=0
BIUBIN_MAX_CONNECTIONS=1000
